@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.nav {
  background-color: rgb(48, 79, 120);
  height: 75px;
  width: 100vw;
  font-family: 'Exo 2', sans-serif;
  /* padding-top: 0px; */
  justify-content: space-between;
  
}

.nav-name{
  text-align: left;
  padding: 10px;
  color: rgb(238, 130, 35);
}



.button-add {
  padding: 18px;
  

 
}

.button-update {
  padding: 18px;
  

 
}

.delete-btn{
  color:red
}





.body {
  /* background-image: url('https://cdn.hipwallpaper.com/i/84/19/cUJWqd.jpg') */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}


.list {
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 2px 3px rgb(165, 147, 147);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5px;
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid gainsboro; 
  border-radius: 5px;
}

.balance {
  margin: 30px auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid gainsboro; */
}

.balance-txt {
  font-size: 1px;
}

.transaction {
  margin: 30px auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





/* .inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border: 1px solid gainsboro;
} */





.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

/* .money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
} */

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  font-size: 5px;
  margin: 0;
  text-transform: uppercase;
}



















