@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

nav {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(48, 79, 120);
  height: 75px;
  width: 100vw;
  position: sticky;
}

.nav a h2 {
  width: fit-content;
}

.nav-name {
  text-align: left;
  font-family: "Exo 2", sans-serif;
  padding: 10px;
  margin-right: auto;
  color: rgb(238, 130, 35);
}



.delete-btn {
  color: red;
}

.button-add {
  display: flex;
  padding: 5px;
  background-color: rgb(238, 130, 35);
  border-radius: 5px;
}

.button-update {
  padding: 15px;
  padding: 5px;
  background-color: rgb(238, 130, 35);
  border-radius: 5px;
}

.body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  padding: 5px;
}


.amount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.balance {
  margin: 30px auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.balance-txt {
  font-size: 1px;
  align-items: center;
}

.transaction {
  margin: 30px auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  color: rgb(238, 130, 35);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(92, 92, 92);
  font-size: 10px;
  height: 40px;
  width: 100vw;
}

.add-expense {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  align-content: space-between;
}

.add-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.list-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  padding: 5px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-category {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 width: 100%;
}


.list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}

.amount-container {
  display: flex;
  flex-direction: column;
  
  
 }


.update-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px;
 
}

.update-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 70px;


}

@media (max-width: 375px) and (max-height: 812px) {
  .add-expense {
    
 }



}

